body{
    background-size: 100% auto;
    background-color: #75c7f7;
}
div.form-group {
    margin: auto;
    width: 90%;
  }

div.form-title {
margin: auto;
width: 90%;
}

div.padded{
  margin: auto;
  width: 90%;
  margin-top: 15px;
}

div.my-card{
  margin: auto;
  width: 50%;
  margin-top: 10px;
}