{% extends 'base.html.j2' %}
{% block title %}
    Trainer Feed
{% endblock %}
{% block content %}
    <form method = "POST" action ="{{url_for('social.feed')}}">
        <div class = "padded">
            <div class = "mb-3">
                    <textarea class="form-control" placeholder="Share news for other trainers!" name="body" style="height: 100px;"></textarea>
            </div>
            <button type = "submit" class = "btn btn-primary"><i class= "fas fa-paper-plane"></i>&nbspShare</button>
        </div>
    </form>

    <div class = "padded">
        <h1>News From Trainers Like You</h1>
        <hr>
            {% for post in posts %}
                {% include'./includes/_post.html.j2' %}

            {% endfor %}
    </div>

{% endblock %}